# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Logs
logs/
*.log

# Data
data/*.csv
data/*.json

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

plots/*.png
plots/
data/raw/

results/
models/
savedResults/
mem*.txt
mem*.png
my*.txt
sorted*.txt
last*.txt
mprofil*.dat
config/*.yaml
config/yaml/*
